html{
    overflow-x: hidden;
}
.logo {
    z-index: 2;
    width: 3vw;
    margin-right: 2em;
}

.iitr_logo {
    z-index: 2;
    margin-left: 2em;
    width: 3.3vw;
}

@media only screen and (max-width: 500px) {
    .iitr_logo {
        margin-left: 0em;
        width: 4em;
    }
}
@media only screen and (max-width: 500px) {
    .logo {
        margin-top: 0em;
        width: 3.7em;
        margin-left: 2em;
    }
}

.nav-items{
    padding-top: 2.1em;
    padding-left: 1em;
    height: 15px;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    padding-right: 1em;}

.gradient{
    height: 9em;
    width: 100%;
    background-image: radial-gradient(circle at 0 , #67b9ff, #1863f9 100%);
}

.gradient-background{
    transition: 1s;
    position: fixed;
    top:0;
    width: 100%;
    display: none;   
    height: 8em;
    background-image: radial-gradient(circle at 0 , #67b9ff, #1863f9 100%);}

}
.gradient2{
    margin-top: 8em;
    width: 100%;
    background-image: radial-gradient(circle at 0 , #67b9ff, #1863f9 100%);}

@media only screen and (max-width: 500px) {
    .gradient2 {
height: 26em;    }
}

.navbar_link{
    color: white;
    text-decoration: none;}

.navbar_link:hover{
    background-color: transparent;
}
.myVideo{
    margin-top: -1em;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .myVideo {
        margin-top: 7em;
    }
}

.shape13{
    width: 3em;
    height: 2px;
    background-color: #ffffff;
}
.right{
    margin-top: -10em;
    float: right;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: right;
    color: #ffffff;
}  

@media only screen and (max-width: 500px) {
    .right {
        margin-top: 0em;
    padding-right: 4em;
    float: right;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: right;
    color: #ffffff;
    }
}


.about{
    margin-top: 16em;
}

@media only screen and (max-width: 500px) {
    .about {
    margin-top: 6em;    }
}

.aboutheader{
    height: .9em;
    font-family: Montserrat;
    font-size: 6em;
    font-weight: 999;
    line-height: normal;
    text-align: right;
    color: #222222;}

@media only screen and (max-width: 500px) {
    .aboutheader {
    height: .9em;
    font-family: Montserrat;
    font-size: 4em;
    font-weight: 999;
    line-height: normal;
    text-align: center;
    color: #222222;
    }
}

.aboutcontent{
    background: rgba(0, 0, 0, 0.05); 
    padding-right: 6em;
    padding-left: 7em;
    padding-top: 6em;
    margin-top: -1em;
    height: 33em;
    font-family: Montserrat;
    font-size: 1.3em;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #1f1f1f;
    line-height: 145%;
}

@media only screen and (max-width: 500px) {
    .aboutcontent {
    background: rgba(0, 0, 0, 0.05); 
    padding-right: 2em;
    padding-left: 3em;
    padding-top: 4em;
    margin-top: -1em;
    height: 41em;
    font-family: Montserrat;
    font-size: 1.1em;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #1f1f1f;
    }
}


.aboutimage{
    margin-left: 0em;
    width: 160%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .aboutimage {
display: none;    }
}

.rectabout{
    margin-top: 3em;
  height: 23px;
  background-color: #222222;
}

.footer{
    margin-top: 3em;
    width: 100%;
    }

.footerlogo{
    padding-bottom: 4em;
    width: 75%;
}

.black1{
    padding-top: 6em;
    background-color: #080808;
    height: 26em;
}

@media only screen and (max-width: 500px) {
    .black1 {
        height: 20em;
    }
}

.black2{
    padding-top: 6em;
    background-color:#000000;
    height: 26em;
}

@media only screen and (max-width: 500px) {
    .black2 {
        height: 26em;
    }
}

.socialicons1{
/*    width: 1.2em;*/
}

.socialicons{
/*    width: 2.6em;*/
}

.contact{
font-family: Montserrat;
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.contact_underline{
      width: 29px;
  height: 3px;
  mix-blend-mode: undefined;
  background-color: #ffffff;

}

.address{
    line-height: 159%;
    font-family: Montserrat;
    font-size: .9em;
    letter-spacing: 0.5px;
    color: #fefefe;
    padding-top: 2em;
}

.side2_icons{
    padding-top: 2em;
}

.timer_div{
    margin-top: -5.5em;
    height: 10em;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 8px 1px 38px 5px rgba(0, 0, 0, .20);
}
/*

@media only screen and (max-width: 500px) {
.timer_div{
    margin-top: -5.5em;
    height: 7em;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 8px 1px 38px 5px rgba(0, 0, 0, .20);
}
*/

.timer_days{
    padding-top: 1em;
    width: 46px;
    height: 27px;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 1.1px;
    text-align: right;
    color: #252525;
}

.timer_days_content{ 
    padding-top: .1em;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    color: #ababab;
}

    @media only screen and (max-width: 500px) {
        .timer_days_content{   
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    color: #ababab;
}
    
@media only screen and (max-width: 500px) {
.timer_days{
    padding-top: .4em;
width: 36px;
    height: 27px;
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 1.1px;
    text-align: right;
    color: #252525;}
}

// NAVBAR (FIXED AND STATIC)
// -------------------------


// COMMON STYLES
// -------------

.navbar {
  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;

  overflow: visible;
  margin-bottom: @baseLineHeight;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: @navbarHeight;
  padding-left:  20px;
  padding-right: 20px;
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  .border-radius(4px);
  .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
}


// Brand, links, text, and buttons
.navbar {
  color: @navbarText;
  // Hover and active states
  .brand:hover {
    text-decoration: none;
  }
  // Website or project name
  .brand {
    float: left;
    display: block;
    // Vertically center the text given @navbarHeight
    @elementHeight: 20px;
    padding: ((@navbarHeight - @elementHeight) / 2 - 2) 20px ((@navbarHeight - @elementHeight) / 2 + 2);
    margin-left: -20px; // negative indent to left-align the text down the page
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: @navbarBrandColor;
  }
  // Plain text in topbar
  .navbar-text {
    margin-bottom: 0;
    line-height: @navbarHeight;
  }
  // Janky solution for now to account for links outside the .nav
  .navbar-link {
    color: @navbarLinkColor;
    &:hover {
      color: @navbarLinkColorHover;
    }
  }
  // Buttons in navbar
  .btn,
  .btn-group {
    .navbarVerticalAlign(30px); // Vertically center in navbar
  }
  .btn-group .btn {
    margin: 0; // then undo the margin here so we don't accidentally double it
  }
}

// Navbar forms
.navbar-form {
  margin-bottom: 0; // remove default bottom margin
  .clearfix();
  input,
  select,
  .radio,
  .checkbox {
    .navbarVerticalAlign(30px); // Vertically center in navbar
  }
  input,
  select {
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="image"],
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  .input-append,
  .input-prepend {
    margin-top: 6px;
    white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
    input {
      margin-top: 0; // remove the margin on top since it's on the parent
    }
  }
}

// Navbar search
.navbar-search {
  position: relative;
  float: left;
  .navbarVerticalAlign(28px); // Vertically center in navbar
  margin-bottom: 0;
  .search-query {
    padding: 4px 9px;
    #font > .sans-serif(13px, normal, 1);
    color: @white;
    background-color: @navbarSearchBackground;
    border: 1px solid @navbarSearchBorder;
    .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0px rgba(255,255,255,.15)");
    .transition(none);

    // Placeholder text gets special styles; can't be a grouped selector
    &:-moz-placeholder {
      color: @navbarSearchPlaceholderColor;
    }
    &::-webkit-input-placeholder {
      color: @navbarSearchPlaceholderColor;
    }

    // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
    &:focus,
    &.focused {
      padding: 5px 10px;
      color: @grayDark;
      text-shadow: 0 1px 0 @white;
      background-color: @navbarSearchBackgroundFocus;
      border: 0;
      .box-shadow(0 0 3px rgba(0,0,0,.15));
      outline: 0;
    }
  }
}



// FIXED NAVBAR
// ------------

// Shared (top/bottom) styles
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for static navbar
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left:  0;
  padding-right: 0;
  .border-radius(0);
}

.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  #grid > .core > .span(@gridColumns);
}

// Fixed to top
.navbar-fixed-top {
  top: 0;
}

// Fixed to bottom
.navbar-fixed-bottom {
  bottom: 0;
}



// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
}
.navbar .nav > li {
  display: block;
  float: left;
}

// Links
.navbar .nav > li > a {
  float: none;
  // Vertically center the text given @navbarHeight
  @elementHeight: 20px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 1) 10px ((@navbarHeight - @elementHeight) / 2 + 1);
  line-height: 19px;
  color: @navbarLinkColor;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
// Buttons
.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  // Vertically center the button given @navbarHeight
  @elementHeight: 28px;
  margin: ((@navbarHeight - @elementHeight) / 2 - 1) 5px ((@navbarHeight - @elementHeight) / 2);
  line-height: @baseLineHeight;
}
.navbar .btn-group {
  margin: 0;
  // Vertically center the button given @navbarHeight
  @elementHeight: 28px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 1) 5px ((@navbarHeight - @elementHeight) / 2);
}
// Hover
.navbar .nav > li > a:hover {
  background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
  color: @navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: transparent;
}

// Dividers (basically a vertical hr)
.navbar .divider-vertical {
  height: @navbarHeight;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: @navbarBackground;
  border-right: 1px solid @navbarBackgroundHighlight;
}

// Secondary (floated right) nav in topbar
.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  .buttonBackground(@navbarBackgroundHighlight, @navbarBackground);
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)");
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  .border-radius(1px);
  .box-shadow(0 1px 0 rgba(0,0,0,.25));
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}


// Dropdown menus
// --------------

// Menu position and menu carets
.navbar .dropdown-menu {
  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid @dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}
// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .dropdown-menu {
  &:before {
    border-top: 7px solid #ccc;
    border-top-color: @dropdownBorder;
    border-bottom: 0;
    bottom: -7px;
    top: auto;
  }
  &:after {
    border-top: 6px solid @dropdownBackground;
    border-bottom: 0;
    bottom: -6px;
    top: auto;
  }
}
// Dropdown toggle caret
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: @white;
  border-bottom-color: @white;
}
.navbar .nav li.dropdown.active .caret {
  .opacity(100);
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}

// Dropdown link on hover
.navbar .nav li.dropdown.active > .dropdown-toggle:hover {
  color: @white;
}

// Right aligned menus need alt position
// TODO: rejigger this at some point to simplify the selectors
.navbar .pull-right .dropdown-menu,
.navbar .dropdown-menu.pull-right {
  left: auto;
  right: 0;
  &:before {
    left: auto;
    right: 12px;
  }
  &:after {
    left: auto;
    right: 13px;
  }
}
