html { 
    overflow-x: hidden;;}

.logo {
height: 5vw;
width: 5vw;}

.nav-items{
    padding-top: 1em;
    padding-left: 1em;
    height: 15px;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    padding-right: 1em;}
.gradient{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 0 0, #3ba5ff, #4784ff 98%);}

.navbar_link{
    color: white;
    text-decoration: none;}

.running{
    margin-top: -11em;
    height: 100%;
    width: 95%;
}

.shape13{
    width: 3em;
    height: 2px;
    background-color: #ffffff;
}
.right{
    padding-right: 5em;
    margin-top: -10em;
    float: right;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: right;
    color: #ffffff;
}  


.about{
    padding-top: 20em;
}
.aboutheader{
    height: .9em;
    font-family: Montserrat;
    font-size: 6em;
    font-weight: 999;
    line-height: normal;
    text-align: right;
    color: #222222;}

.aboutcontent{
    background: rgba(0, 0, 0, 0.05); 
    padding-right: 6em;
    padding-left: 7em;
    padding-top: 6em;
    margin-top: -1em;
/*    background-color: #f3f3f3;*/
    height: 39em;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #1f1f1f;
}

.aboutimage{
    margin-left: -25em;
    width: 200%;
    height: auto;
}

.rectabout{
    margin-top: 3em;
  height: 23px;
  mix-blend-mode: undefined;
  background-color: #222222;
}

.footer{
    background-color: black;
}

.footerlogo{
    
}

.socialicons{
    
}
/*
.grey{
    position: absolute;
    z-index: -1;
  height: 809px;
  opacity: 0.05;
  mix-blend-mode: undefined;
  background-color: #000000;
}*/
