html { 
    overflow-x: hidden;;}

.logo {
width: 3vw;
margin-right: 2em;}

.iitr_logo {
    margin-left: 2em;
width: 3.3vw;}

.nav-items{
    padding-top: 2.1em;
    padding-left: 1em;
    height: 15px;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    padding-right: 1em;}
.gradient{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 0 , #67b9ff, #1863f9 98%);}

.navbar_link{
    color: white;
    text-decoration: none;}

.running{
    margin-top: -11em;
    height: 100%;
    width: 95%;
}

.shape13{
    width: 3em;
    height: 2px;
    background-color: #ffffff;
}
.right{
    padding-right: 5em;
    margin-top: -10em;
    float: right;
    font-family: Montserrat;
    font-size: 1.3em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: right;
    color: #ffffff;
}  


.about{
}
.aboutheader{
    height: .9em;
    font-family: Montserrat;
    font-size: 6em;
    font-weight: 999;
    line-height: normal;
    text-align: right;
    color: #222222;}

.aboutcontent{
    background: rgba(0, 0, 0, 0.05); 
    padding-right: 6em;
    padding-left: 7em;
    padding-top: 4em;
    margin-top: -1em;
    height: 32em;
    font-family: Montserrat;
    font-size: 1.3em;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #1f1f1f;
}

.aboutimage{
    margin-left: -25em;
    width: 200%;
    height: auto;
}

.rectabout{
    margin-top: 3em;
  height: 23px;
  mix-blend-mode: undefined;
  background-color: #222222;
}

.footer{
    margin-top: 3em;
    width: 100%;
    }

.footerlogo{
    padding-bottom: 4em;
    width: 60%;
}

.black1{
    padding-top: 6em;
    background-color: #080808;
    height: 26em;
}

.black2{
    padding-top: 6em;
    background-color:#000000;
    height: 26em;
}

.socialicons1{
    width: 1.2em;
}

.socialicons{
    width: 2.6em;
}

.contact{
font-family: Montserrat;
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.contact_underline{
      width: 29px;
  height: 3px;
  mix-blend-mode: undefined;
  background-color: #ffffff;

}

.address{
    line-height: 159%;
    font-family: Montserrat;
    font-size: .9em;
    letter-spacing: 0.5px;
    color: #fefefe;
    padding-top: 2em;
}

.side2_icons{
    padding-top: 2em;
}

.timer_div{
    width: 50em;
    height: 10em;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 8px 38px 0 rgba(0, 0, 0, 0.06);
}