.teamheader{
padding-left: 3em;
    padding-top: 8em;
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 600;
    color: #222222;
    padding-bottom: .5em;}

.line_team{
    margin-left: 4em;
    width: 92%;
    height: 3px;
    opacity: 0.3;
    background-color: #000000;
}

@media only screen and (max-width: 500px) {
.line_team{
    margin-left: 4em;
    width: 73%;
    height: 3px;
    opacity: 0.3;
    background-color: #000000;
}
<<<<<<< HEAD
}

.thumbnail_team{
    margin-top: 6em;
    margin-left: 4em;
    background-color: #3f76e3;
    margin-right: 4em;
    height: 25em;}

@media only screen and (max-width: 500px) {
.thumbnail_team{
    margin-top: 3em;
    margin-left: 4em;
=======


.thumbnail_team_new{
    margin-top: 6em;
    margin-left: 4em;
>>>>>>> master
    background-color: #3f76e3;
    margin-right: 4em;
    height: 25em;}
}

    @media only screen and (max-width: 500px){
.thumbnail_team {
    margin-top: 3em;
    margin-left: 4em;
    background-color: #3f76e3;
    margin-right: 4em;
    height: 25em;
    }}
.team_image{
    
}

.team_content{
    
}

.post_team{
    font-family: Montserrat;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.name_team{
    font-family: Montserrat;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;   
}

.padding5{
    padding-top: 5em
}